* {
  font-family: "Roboto", sans-serif;
}
body {
  max-width: 100vw;
  background-color: #eaeaea;
  margin: 0;
}
nav {
  width: 100vw;
  height: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: purple;
}
h1 {
  font-weight: normal;
  font-size: 5rem;
}
p {
  font-weight: lighter;
  text-align: justify;
  font-size: 2rem;
}
.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 3rem;
}
.single-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
}
.single-item p {
  font-weight: normal;
  font-size: 3rem;
  margin: 0;
}
.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.games-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  margin: 0;
}
.game-logo {
  width: 40vw;
  height: fit-content;
}

.category-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: fit-content;
  font-size: 2rem;
  font-weight: bold;
}
#search-text {
  outline: none;
  width: 30vw;
  height: 5vw;
  border: 2px solid #ccc;
  border-radius: 2.5vw;
  background-color: white;
  padding-left: 1rem;
}
::placeholder {
  opacity: 60%;
}
